:root{
  --bg-color: whitesmoke;
  --color: black;
}

*{
  margin:  0;
  padding: 0;
}

.container{
  background-color: var(--bg-color);
  color: var(--color);
  text-align: center;
  line-height: 1.8;
  font-size: 1.2rem;
  padding: 30px;
  margin: 5% 20%;
  text-transform: capitalize;
}
.info{
  display: flex;
  flex-direction: column;
}
input{
  padding: 3px;
  margin: 10px 20px;
  font-size: 1em;
}
#sub-btn{
  background-color: blue;
  color: var(--bg-color);
  padding: 5px 10px;
  outline: none;
}
.link{
  background-color: var(--bg-color);
  color: var(--color);
  margin: 2% 20%;
  padding: 20px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  text-transform: capitalize;
}
.link a{
  padding: 5px 15px;
  text-decoration: none;
  color: #000;
  border: 1px #333 solid;
  border-radius: 10px;
  background-color: white;
}
.link button{
  padding: 4px 10px;
  border-radius: 10px;
  border: 1px solid var(--bg-color);
  font-size: 1em;
  outline: none;
  background-color: red;
  color: var(--bg-color);
}
li{
  list-style: none;
}